.btn-add-to-cart{
    background-color: #ec5252;
}

.btn-lg{
    padding: 0.5rem 5rem;
}

ul{
    list-style: none;
}

.card{
    border-radius: 0rem;
}

.card-body{
    padding: 0.5rem;
}

.btn-sm{
    padding: 0.5rem;
}

.white-black{
    cursor: pointer;
}

.modal{
    overflow-y: auto;
}